.grid__itemBig {
  margin: 10px;
  width: cal(50% - 20px);
  height: 500px;
  background-color: deeppink;
}
.grid__itemSmall {
  margin: 10px;
  width: calc(25% - 20px);
  height: 500px;
  background-color: #ff8fcb;
}
